# TODO: Complétez ce workflow
#
# Objectif : Créer un pipeline CI qui :
# 1. Se déclenche sur push vers main ET sur pull_request
# 2. Récupère le code
# 3. Installe Python 3.11
# 4. Installe les dépendances
# 5. Lance les tests pytest

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Permissions minimales (bonne pratique sécurité)
permissions:
  contents: read

jobs:
  build:
    name: Automatiser Python projet
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup Python 3.11
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5 
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Lancer les tests pytest
        run: pytest
    
